body::before {
  display: block;
  content: '';
  height: 60px;
}

body{
  overflow-x: hidden;
}

@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
@media (min-width:460px){
  #contact-info{
    display: flex;
    flex-direction: column;
  }
}

.nav-item :hover {
  background-color: black;
  color:white;
  font-size: 1.1em;
  font-weight: 600;
}