body::before {
  display: block;
  content: '';
  height: 60px;
}

body{
  overflow-x: hidden;
}

.resourse-title{
  margin-top: 5%;
}
@media (min-width: 768px) {
  .news-input {
    width: 50%;
  }
}
@media (min-width:460px){
  #contact-info{
    display: flex;
    flex-direction: column;
  }
}

.nav-pills .nav-item :hover {
  background-color: black;
  color:white;
  transform: scale(1.1);
  transition: all 150ms, color 0ms;
  font-weight: 600;
  margin: 0 -0.135em;
}
@media (max-width: 768px) {
  .resourse-title{
    margin-top: 10%;
  }
}
